# devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Nix
result
result-*

# Nix build outputs
*.so
*.dylib

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Logs
*.log

.venv

dist/